@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.gap {
    height: 85px;
}
@media (max-width: 768px) {
    .gap {
        height: 70px;
    }
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.navbar {
    position: fixed;
    top: 2%;
    width: 95%;
    left: 2.5%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    z-index: 100;
}

.navbar__wrap {
    display: flex;
    justify-content: space-between;
}

.hamb {
    display: none;
}

.popup {
    display: none;
}

.menu > a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    margin: 15px;
    letter-spacing: 3px;
    background: rgba(255, 255, 255, 0.58);
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.53);
    transition: .5s;
}
.menu > a:hover {
    background: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.68);
}
.navbar__wrap .menu {
    display: flex;
}

.navbar__wrap .menu > li {
    display: flex;
    align-items: stretch;
}

.navbar__wrap .menu > li > a {
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: rgba(255, 255, 255, 0.7);
}

.navbar__wrap .menu > li > a:hover {
    color: rgba(255, 255, 255, 1);
}


@media (max-width: 1000px) {
    .navbar__wrap .menu {
        display: none;
    }
    .navbar {
        height: 55px;
    }
    .hamb {
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
    }

    .hamb__field {
        position: relative;
        display: block;
        padding: 10px 20px;
        cursor: pointer;
    }

    .bar {
        display: block;
        width: 30px;
        height: 3px;
        margin: 6px auto;
        background-color: #fff;
        transition: 0.2s;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.53);
    }

    .popup {
        position: fixed;
        width: 95%;
        left: 2.5%;
        border-radius: 15px;
        background: rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.5);
        border-left: 1px solid rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(5px);
        z-index: 3;
        top: -100%;
        display: flex;
        transition: 0.3s ease;
    }

    .popup.open {
        top: 80px;
        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    }

    .popup .menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: start;
        overflow: auto;
    }

    .popup .menu > li {
        width: 100%;
    }

    .popup .menu > li > a {
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #3f3f3f;
    }

    .popup .menu > li > a:hover {
        background-color: rgba(122, 82, 179, 0.1);
    }

    .hamb__field.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamb__field.active .bar:nth-child(1) {
        transform: translateY(8.5px) rotate(45deg);
    }

    .hamb__field.active .bar:nth-child(3) {
        transform: translateY(-9px) rotate(-45deg);
    }

    body.noscroll {
        overflow: hidden;
    }
}





.logo {
    position: fixed;
    left: 0;
    z-index: 1;
    margin: 10px;
    opacity: 0.8;
    border-radius: 20%;
}
.logo p {
    color: #ffffff;
    cursor: default;
    user-select: none;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 110%;
    top: 17%;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: -1px;
    line-height: 12px;
    transition: .3s ease;
}
.logo p:hover {
    transform: scale(104%);
}
.logo img {
    width:50px;
    height: 50px;
}

@media (max-width: 1000px) {
    .logo  {
        transform: scale(0.8);
        margin: 2px;
    }
}
.btn {
    border: none;
    padding: 3px;
    margin: 0 5px;
    border-radius: 25%;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.tg {
    transition: 1s ease-in;
}
.yt {
    transition: 1s ease-in;
}
.twi {
    transition: 1s ease-in;
}
.sp {
    transition: 1s ease-in;
}
.inst {
    transition: 1s ease-in;
}


button img {
    position: relative;
    width: 20px;
    height: 20px;
    z-index: 3;
}

@media (min-width: 769px) {
    button img {
        width: 30px;
        height: 30px;
    }
    .btn {
        padding: 5px;
    }
}
@media (min-width: 1001px) {
    button img {
        width: 40px;
        height: 40px;
    }
    .btn {
        padding: 8px;
    }
}
footer {
    position: relative;
    width: 95%;
    justify-content: center;
    z-index: 100;
    align-items: center;
    padding: 20px;
    bottom: -10px;
    margin-bottom: 3%;
    letter-spacing: 2px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
button {
    background: none;
    overflow: hidden;
    display: flex;
}
.buttons {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
.holder {
    position: absolute;
    top: -100px;
    left: -60px;
    width:50vw;
    height: 100vh;
    transform: translateY(-100vh);
    transition: 1s linear;
}
.tg1 {
    background: linear-gradient(#0088cc, #e91e63);
}
.yt1 {
    background: linear-gradient(#b9021e, #e91e63);
}
.twi1 {
    background: linear-gradient(#25aff5, #e91e63);
}
.sp1 {
    background: linear-gradient(#007513, #e91e63);
}
.inst1 {
    background: linear-gradient(#f3a71a, #e91e63);
}
.btn:hover .holder {
    transform: translateY(30px);
}

.btn:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.main-footer {
    display: grid;
    place-items: center;
    grid-area: footer;
    gap: 20px;
    margin-bottom: 4%;
    grid-template-areas:
        "links"
        "socials"
        "artists"
        "contacts";
}
h3 {
    transition: .5s;
}
footer h3:hover {
    transform: scale(110%);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5);
    color: white;
}
@media (min-width: 769px) {
    .main-footer{
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4%;
        grid-template-areas:
      "socials  links"
      "artists  contacts"

    }
}
@media (min-width: 1001px) {
    .main-footer{
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        margin-bottom: 4%;
        grid-template-areas:
      "links socials artists contacts";
    }
}
.socials {
    grid-area: socials;
}
.contacts {
    grid-area: contacts;
}
.links {
    grid-area: links;
    cursor: default;
    text-align: center;
    font-size: 0.7rem;
}
.artists {
    grid-area: artists;
}

a {
    text-decoration: none;
    color: inherit;
}
