@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at right 70%);
    background: linear-gradient(#f00, #f0f);
}

body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
}
.container .card {
    z-index: 2;
    position: relative;
    height: auto;
    margin: 2.5%;
    padding: 2%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
}
.container .card .content {
    display: flex;
    place-items: center;
    flex-direction: column;
    padding: 20px;
    text-align: center;
}
.container .card .content h3 {
    font-size: 3em;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    color: #fff;
    z-index: 1;
}
.container .card .content p {
    font-size: 1.2em;
    color: #fff;
    font-weight: 300;
}
.container .card .content .details {
    border: 1px solid #fff;
    background: rgba(0, 0, 0, 0.08);
    overflow: hidden;
    max-width: 700px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}

.container .card .content label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 8px 20px;
    margin-top: 7px;
    margin-bottom: 7px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: scale(97%);
}
.container .card .content label:hover {
    transform: scale(100%);
}
.container .card .content label + div {
    position: absolute;
    opacity: 0;
}
input[type=checkbox] {
    display: none;
}
#org1:checked + label + div {
    position: relative;
    opacity: 1;
    transition: .5s;
}
#org2:checked + label + div {
    position: relative;
    opacity: 1;
    transition: 0.5s;
}
#org3:checked + label + div {
    position: relative;
    opacity: 1;
    transition: 0.5s;
}
#org4:checked + label + div {
    position: relative;
    opacity: 1;
    transition: 0.5s;
}
#org4:checked + label {
    background: rgba(0, 0, 0, 0.34);
    color: #ffffff;
}
#org3:checked + label {
    background: rgba(0, 0, 0, 0.34);
    color: #ffffff;
}
#org2:checked + label {
    background: rgba(0, 0, 0, 0.34);
    color: #ffffff;
}
#org1:checked + label {
    background: rgba(0, 0, 0, 0.34);
    color: #ffffff;
}
.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    color: rgba(206, 27, 108, 0.63);
}
.container .card .content a:hover {
    color: #e91e63;
    transition: .5s;
}
@media (max-width: 768px) {
    .container .card .content h3 {
        font-size: 2.5em;
        color: #fff;
        z-index: 1;
    }
    label {
        font-size: 1em;
    }
    .container .card .content p {
        font-size: 0.8em;
        color: #fff;
        font-weight: 300;
    }
}
@media (max-width: 450px) {
    .container .card .content h3 {
        font-size: 2em;
        color: #fff;
        z-index: 1;
    }
    label {
        font-size: 0.65em;
    }
    .container .card .content p {
        font-size: 0.5em;
        color: #fff;
        font-weight: 300;
    }
}

