@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
#conan, #yungblud, #girlinred, #mrkitty, #palewaves, #samsmith, #placebo {
    display: none;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: circle(30% at right 70%);
    background: linear-gradient(#f00, #f0f);
}
body::after {
    content: '';
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}
.card {
    z-index: 2;
    color: white;
    position: relative;
    height: auto;
    margin: 30px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}
nav > ul > li {
    list-style-type: none;
    text-align: center;
    padding: 0 20px;
    cursor: default;
}
aside > a {
    text-align: center;
    vertical-align: center;
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    place-content: center;
    margin: 10px;
}

.main-content > .content {
    max-width: 700px;
    overflow-wrap: break-word;
}
h1 {
    color: white;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.68);
    text-align: center;
    text-transform: uppercase;
    cursor: default;
}
.main-content > .content > p {
    font-size: 1.2rem;
    position: relative;
    color: white;
    left: -20px;
    width: 100%;
    padding: 20px;
    text-transform: lowercase;
    text-align: center;
    margin: 10px 20px 0px;
    letter-spacing: 2px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: default;
    background-color: rgba(0, 0, 0, 0.58);

}
@media (max-width: 768px) {
    .main-content > .content > p {
        font-size: 0.9rem;
    }
    nav > ul > li {
        display: block;
        width: 100%;
    }
}
.genres {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    font-size: 1.4rem;
    font-weight: 600;
    margin: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.68);
}
.genres > nav {
    text-transform: uppercase;
}
.genres > nav, .genres > aside {
    padding: 12px 20px;
    min-width: 500px;
    font-weight: 600;
    letter-spacing: 3px;
}
@media (max-width: 768px) {
    .genres > nav, .genres > aside {
        min-width: 300px;
    }
}
.main-nav > ul{
    display: flex;
    flex-wrap: wrap;
    place-content: space-between;
}
aside {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}
/* Контейнер с ограниченными размерами, он будет выполнять роль "окна" */
.slider-container {
    width: 400px;
    height:calc(400px + 2.5rem + 40px);
    margin: 30px;
    border-radius: 20px;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}
.slider-item > img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: .5s;
}
/* Лента с фото, имеет неограниченную ширину и тип flex, чтобы картинки не переносились */
.slider-track {
    height:400px;
    display: flex;
    transition-duration: .5s;
}
/* Стили для оформления кнопок prev/next */
.arrow {
    width:7px;
    height:7px;
    border-top:#cacaca 3px solid;
    border-right:#cacaca 3px solid;
    position: absolute;
}
.arrow-bg {
    width:30px;
    height:30px;
    background: #fff;
    box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
    border-radius: 50%;
    position: relative;
    opacity: .8;
    cursor: pointer;
}
.arrow-left .arrow {
    transform: rotate(-135deg);
    top:10px;
    left:12px;
}
.arrow-right .arrow {
    transform: rotate(45deg);
    top:10px;
    left:8px;
}
.arrow-left {
    position: absolute;
    top:calc(50% + 1.25rem + 10px);
    left:10px;
    transform: translateY(-50%);
    z-index: 2;
}
.arrow-right {
    position: absolute;
    top:calc(50% + 1.25rem + 10px);
    right:10px;
    transform: translateY(-50%);
    z-index: 2;
}
@media (max-width: 768px) {
    .main-nav > ul{
        display: flex;
        flex-wrap: wrap;
        place-content: center;
    }
    .slider-container {
        width: 300px;
        height:calc(300px + 2.5rem + 40px);
        margin: 30px;
        border-radius: 20px;
        position: relative;
        object-fit: cover;
        overflow: hidden;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(5px);

        box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    }
    .slider-item > img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        transition: .5s;
    }
    /* Лента с фото, имеет неограниченную ширину и тип flex, чтобы картинки не переносились */
    .slider-track {
        height:300px;
        display: flex;
        transition-duration: .5s;
    }
    /* Стили для оформления кнопок prev/next */
    .arrow {
        width:7px;
        height:7px;
        border-top:#cacaca 3px solid;
        border-right:#cacaca 3px solid;
        position: absolute;
    }
    .arrow-bg {
        width:30px;
        height:30px;
        background: #fff;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.2);
        border-radius: 50%;
        position: relative;
        opacity: .8;
        cursor: pointer;
    }
    .arrow-left .arrow {
        transform: rotate(-135deg);
        top:10px;
        left:12px;
    }
    .arrow-right .arrow {
        transform: rotate(45deg);
        top:10px;
        left:8px;
    }
    .arrow-left {
        position: absolute;
        top:calc(50% + 1.25rem + 10px);
        left:10px;
        transform: translateY(-50%);
        z-index: 2;
    }
    .arrow-right {
        position: absolute;
        top:calc(50% + 1.25rem + 10px);
        right:10px;
        transform: translateY(-50%);
        z-index: 2;
    }
}