@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.cont {
    position: absolute;
    top: 10px;
    left: 0;
}
body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #161623;
}
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    clip-path: circle(30% at right 70%);
    background: linear-gradient(#f00, #f0f);
}
body::after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#2196f3, #e91e63);
    clip-path: circle(20% at 10% 10%);
}

.gallery {
    grid-area: gallery;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 7vw);
    gap: 5px;
}

.gallery__img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 2;
    transition: .5s;
}

label > input {
    display: none;
}
label > input + .gallery__img {
    transform: scale(98%);
    opacity: 0.5;
}
label > input:hover + .gallery__img {
    transform: scale(100%);
    opacity: 1;
}
label > input:checked + .gallery__img {
    transform: scale(100%);
    opacity: 1;
}
.bowie {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 7;
}
.gir {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
}
.halsey {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 5;
    grid-row-end: 7;
}
.lp {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}
.conan {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 4;
}
.yb {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 4;
    grid-row-end: 7;
}
.heather {
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 4;
}